
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#section-colombia{
  color: #7a90ff;
  background-image: url(./img/cartagena-new.gif);
  background-size: cover;
  padding: 2em 0 8em;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  position: relative;
  align-items: center;
  text-decoration: none;
}

.planes-texto{
  display: flex;
  font-family: 'Righteous', cursive;
  z-index: 1;
  position: relative;
  justify-content: center;
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  bottom: -10px;
  text-align: center;
  justify-content: center;
}

.topico{
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .planes-texto{
      font-size: 40px;
      text-align: center;
  }

  .topico{
    font-size: 16px;
}

}

.video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  /* mix-blend-mode: overlay; */
}

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
  margin-top: 7%;
  gap: 5px;
}
.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}


.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: #84697c;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em;
  }

  .pricing-palden .pricing__item--featured {
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}
.pricing-palden .pricing-deco1 {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(90deg, rgba(217,214,9,1) 70%, rgba(20,6,170,0.9668242296918768) 110%); 
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco2 {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(90deg, rgba(20,6,170,1) 70%, rgba(200,6,6,1) 110%);
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco3 {
  border-radius: 10px 10px 0 0;
  background: rgb(200, 6, 6);
  padding: 4em 0 9em;
  position: relative;
}
.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}
.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}
.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.pricing-palden .icon {
  font-size: 2.5em;
}
.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}
.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}
.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}
.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}
.pricing-palden .pricing-feature-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: justify;
  align-items: center;
}


.pricing-palden .pricing-feature {
  padding: 7px;
}
.pricing-palden .pricing-action1 {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: rgba(217,214,9,1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: none;
  text-decoration: none;
}

.pricing-palden .pricing-action2 {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: rgb(47, 9, 217);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: none;
  text-decoration: none;
}

.pricing-palden .pricing-action3 {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: rgb(217, 9, 9);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: none;
  text-decoration: none;
}

.pricing-palden .pricing-action1:hover, .pricing-palden .pricing-action:focus {
  background-color: #020100;
}

.pricing-palden .pricing-action2:hover, .pricing-palden .pricing-action:focus {
  background-color: #12130a;
}

.pricing-palden .pricing-action3:hover, .pricing-palden .pricing-action:focus {
  background-color: #040005;
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

/* PLANES DE VIAJE */

.baground{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

#section_galeria{
  display: flex;
  width: 70%;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.containera_buttons{
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  gap: 7PX;
}

.boton{
  display: flex;
  min-width: 10%;
  height: 45px;
  background-color: #e9bf05;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  gap: 5px;
  padding: 5px;
}

.hero{
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url(./img/full-playa.png);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-home{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin-top: -130px;
  padding: 20px;
}

/* .capa2{
  display: flex;
  position: absolute;
  background-color: #000000;
  opacity: 0.1;
  width: 61.1%;
  height: 400px;
  border-radius: 5px;
} */

.texto{
  display: flex;
  z-index: 1;
  font-family: 'Righteous', cursive;
  font-size: 100px;
  font-weight: bold;
  background: rgb(249,255,9);
  background: linear-gradient(90deg, rgba(249,255,9,1) 23%, rgba(22,8,228,1) 33%, rgba(41,8,204,1) 59%, rgba(200,6,6,1) 78%);
  -webkit-background-clip: text;
  color: transparent;
}

.hero span{
  display: flex;
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 30px;
}



.container_cuadro{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

hr{
  background-color: #75717144;
  height: 1px;
  border: none;
  margin-bottom: 5px;
}

.container_cuadro h1{
  margin-bottom: 10px;
  text-align: justify;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.03em;
  font-size: 20px;
  color:#383838;
}

.fa-solid{
  color: #2a2a2a;
}

.container_cuadro h3{
  margin-bottom: 10px;
  text-align: justify;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.03em;
  font-size: 15px;
  color:#062dac;
}

.container_cuadro p{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 15px;
  color:#5a5959 ;
}

.cuadro_01{
  display: flex;
  width: 100%;
  height:auto;
  background-color:transparent;
  border: solid 1px #75717144;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cuadro_03{
  display: flex;
  width: 100%;
  height:auto;
  background-color:transparent;
  border: solid 1px #75717144;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cuadro_02{
  display: flex;
  width: 100%;
  height:auto;
  background-color:transparent;
  border: solid 1px #75717144;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tour__01{
  display: flex;
  width: 100%;
  height: auto ;
  flex-direction: row;
  gap: 5px;
}

.tour__02{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: auto;
  gap:5px;
}


.cuadro_02 iframe{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  height: 490px;
}

.cuadro_02 img{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#img-habitacion{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
  height: 320px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container_botones{
  display: flex;
  align-items: center;
  width: 100%;
  height:auto;
  flex-direction: column;
  padding: 10px;
}

.container_botones span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color:#5a5959 ;

}


.container_botones h4{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.03em;
  font-size: 20px;
  color:#5a5959 ;
}

#boton_02{
  display: flex;
  background-color: #1da0d5;
  width: 100%;
  height: 50px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin-top: 7px;
  font-size: 17px;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container_general_datos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}

#boton_03{
  display: flex;
  background-color: #105798;
  width: 100%;
  height: 50px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin-top: 7px;
  font-size: 17px;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container_listas{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 20px;
  margin-top: 20px;
  flex-direction: row;
}

.listas{
  display: flex;
  height: auto;
  flex-direction: column;
}

.listas ul li{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 17px;
  list-style: none;
  padding: 4px;
  gap: 15px;
  color:#5a5959 ;
}

.container_precio{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.container_precio p{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.container_precio span{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  gap: 10px;
  padding: 5px;
  color:#5a5959 ;
}

.container_logo_precio{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* background-color: #6acc08; */
  margin-top: 10px;
  gap: 10px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.container2-img{
  display: flex;
  flex-direction: row;
  width:100%;
  height:239PX;
  border-radius: 3px;
  border: solid 1px #75717144;
  /* background: red; */
}

.container2-img img{
  width:100%;
  height:auto;
}


.container_datos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
}

.recuadro_datos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: solid 1px #75717144;
  padding: 7px;
}

.recuadro_datos span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.recuadro_datos h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.container_fecha{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
}

.fecha_precio{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.fecha_precio span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.fecha_precio h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #5a5959;
}

.container-red-social{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.container-red-social img{
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

/* AQUI EMPIEZA EL RESPONSIV */

@media (max-width: 1000px) {
  .texto{
    font-size:65px;
  }
}

@media (max-width: 1466px) {
  .container_cuadro{
    flex-wrap: wrap;
  }
}

@media (max-width: 1150px) {
  .container_cuadro{
    flex-direction: column;
  }

  .cuadro_01{
    width: 100%;
  }

  .cuadro_02{
    width: 100%;
  }
}

@media (max-width: 840px) {

  .container_general_datos{
    flex-direction: column;
  }

  .container_logo_precio{
    flex-direction: column;
  }

  .tour__01{
    flex-direction: column;
  }

  .tour__02{
    flex-direction: column;
  }

}


@media (max-width: 660px) {
  .texto{
    font-size:50px;
  }

  .hero span{
    font-size: 20px;
  }

  #section_galeria{
    width: 100%;
  }

  .container_botones{
    align-items: center;
    margin-top: 30px;
  }

  .container-red-social{
    justify-content: center;
  }

  .container_fecha{
    margin-top: 20px;
  }
  
}