
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container_visa{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  /* background-color: red; */
}

.baground_consulta{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background: rgb(29, 160, 213);
  padding: 15px;
}

.baground_busqueda{
  display: flex;
  max-width: 800px;
  margin-top: 230px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 15px;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 15px -10px;
}

.conte_selectios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px;
  gap: 7px;
}

.conte_selectios label{
  display: flex;
  color:rgb(0, 87, 152);
  font-weight: bold;
  font-size: 15px;
}

.conte_selectios label i{
  margin-right: 7px;
  font-size: 18px;
}

.conte_selectios select{
  font-size: 16px;
  font-weight: 600;
  color: rgb(29, 160, 213);
  width: 100%;
  height: 55px;
  padding: 2px;
  border-radius:5px;
  outline: none;
  border: 1px solid  rgb(29, 160, 213);
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.conten_boton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  width: 100%;
  height: auto;
}

.boton_consultar{
  display: flex;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 55px;
  background:rgb(0, 87, 152);
  border: none;
  cursor: pointer;
  box-shadow: rgba(48, 123, 170, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.219) 0px 8px 16px -8px;
}

.boton_consultar:hover{
  background: rgba(29, 160, 213);
  border: solid 2px #fff;
 
}


/* /////////////////////////////////// section_02///////// */

.conten_tedatelles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  padding: 15px;
  width: 100%;
  height: auto;
}

.cards_detalles{
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 800px;
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(48, 123, 170, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.219) 0px 8px 16px -8px;
}

.container_titulo{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 32px;
  height: auto;
  justify-content: center;
}

.container_titulo h2{
  color: #fff;
}

.container_texto{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: auto;
}
.container_texto p{
  color: rgb(255, 255, 255);
  font-size: 12px;

}

.titulo2{
  color: #fff;
  margin-bottom: -2px;
}

label{
  border-right: solid 1px #fff;
  height: 17px;
}

.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  padding: 10px;
  background:rgb(0, 87, 152);
  border-radius: 10px;
}

.container_lista{
  margin-top: 30px;
}

.container_lista i{
  margin-right: 5px;
}

.container_lista p{
  font-weight: bold;
  color: rgb(0, 87, 152);
}

ul li{
  font-size: 14px;
  text-align: justify;
}

@media(max-width: 600px){
  .baground_busqueda{
    flex-direction: column;
    padding: 10px;
    gap: 0px;
  }

  .conte_selectios{
    margin-bottom: -10px;
  }

  .conten_tedatelles{
    margin-top: 150px;
  }

  .container_titulo h2{
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
  }

  .titulo2{
  color: #fff;
  font-size: 19px;
  margin-bottom: -2px;

  }

  .container_texto p{
    font-size: 11px;
  
  }

  label{
    height: 15px;
  }

  .container_lista p{
    font-size: 14px;
  }

  ul li{
    font-size: 13px;
  }
  

}
