

body{
    background-color: black;
    background-image: url("./img/linktree.jpg");
    background-position: center; /* Center the image */
    background-size: cover
}

.photo{
    height: 400px;
    width: auto;
}



.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.button{
    background-color: #105798;
    border: 0;
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 400px;
    height: 50px;
    box-shadow: 1px 5px #008080;
    font-size: larger;
    cursor: pointer;
}


@media only screen and (max-width: 418px) {
    .button{
        
        width: 200px;
        height: 35px;
        font-size: small;
    }
    .photo{
        height: 240px;
        width: auto;
    }
}





