@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');


:root{
    --main-bg-color: black; 
}

/* body {
    background-color: var( --main-bg-color);
} */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}
.sidebar-left-nav {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }

  .side-nav-out{
    -webkit-transform: translate3d(px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }

.nav-sibar{
    position: fixed;
    height: 100%;
    display: flex;
    width: 60%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 15px 30px 0 rgba(82, 82, 82, 0.2), 0 15px 30px 0 rgba(83, 83, 83, 0.19);
    padding: 1%;
    padding-left: 4%;
    z-index: 2;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    text-decoration: none;
    color: #26A0D5;
    padding-right: 50px;
    text-transform: uppercase;

}

.button-menu{
    cursor: pointer;
}
.input-field-calculate{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.label-calculate{
    color: #26A0D5;
    padding-bottom: 10px;
    padding-top: 25px;
    font-weight: bold;
}
.select-calculate{
    color: #105798;
    height: 50px;
    border-radius: 10px;
    border: solid #105798 2px;
    font-weight: bold;
}
.label-inicial{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    
}
.currency{
    font-size: 10px;
}
.currency-container{
    display: flex;
    align-items: flex-start;
}

.currency-container-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selected-currency{
    color: #105798;
    font-weight: bold;
}
.arrow{
    color: #105798;
    font-size: 15px;
}

.selected-inicial{
    color: #105798;
    font-weight: bold;
    font-size: 35px;
}

.box-calculate-1{
    width: 45% !important;
}

.box-calculate-2{
    width: 25% !important;
    padding: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-items: flex-start !important;
    justify-content: flex-start  !important;
}

.result-calculate{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #105798;
    padding: 5px;
    border-radius: 10px;
}
.result-calculate-value{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.resul-calculate-label-1{
    font-size: 20px;
    color: white;
}

.resul-calculate-label{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.table-calculate{
    width: 100%;
}
.table-calculate-body{
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    width: 100%;
    border: 1px solid black !important;
    border-collapse: collapse !important;
}

th{
    background-color: #105798;
    color: white;
}
.first-col{
    width: 20%;
}
.second-col{
    width: 35%;
}

.font-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #105798;
}
.font-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #26A0D5;
}

.nav-link{
    display: flex;
}

#open_consulta{
    width: 120px;
    height: 40px;
    margin-right: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}


.section-1{
    width: 100%;
    height: 1200px;
    margin-top: -285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    padding-left: 60%;
    color: black;
    background-image: url("./img/fondo5.png");
    background-size:100% 100%;
}

.button-primary{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid  #26A0D5;
    color:  #26A0D5;
    width: 200px;
    height: 50px;
}

.button-secondary{
    background-color: #105798;
    border-radius: 5px;
    border: 1px solid  #26A0D5;
    color:  white;
    width: 200px;
    height: 50px;
}

.button-primary:hover{
    background-color: #105798;
    border-radius: 5px;
    border: 1px solid  #26A0D5;
    color:  white;
    width: 200px;
    height: 50px;
}

.group-button{
    padding-top: 5%;
}
.section-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: #26A0D5;
}


.section-3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 10%;
    background-color: white;
}

.section-4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #26A0D5;
    padding: 30px;
}

.title-section{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 5%;
    color: white;
}
.card-section{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.title-section-2{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    background-color:#105798 ;
}


.title-section-3{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    color: white;
    padding-bottom: 5%;
    font-family: 'Roboto Flex', sans-serif;
}

.title-section-3 h1{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
}


.card-box{
    padding: 2%;
    background-color: white ;
    border-radius: 15px;
    box-shadow: 0 15px 30px 0 rgba(165, 165, 165, 0.2), 0 15px 30px 0 rgba(150, 150, 150, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 30%;
    height: auto;
}

h4{
    color: #105798;
}

.button-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.offer-img{
    border-radius: 5%;
    width: 400px;
    box-shadow: 0 15px 30px 0 rgba(102, 102, 102, 0), 0 15px 30px 0 rgba(68, 68, 68, 0.062);
}

.section-offer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    gap: 60px;
    flex-wrap: wrap;

}

.section-calculate{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 100px;
}



.sub-label{
    background-color:#105798 ;
}

.group-team{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 200px;
}

.team-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    
}

.name-label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.icon-team{
    color: white;
    font-size: 20px;
}

.section-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
    padding: 2%;
}

.img-reponsive-contact{
    width: 70%;
}

.card-contact{
    padding: 1%;
    background-color: white ;
    border-radius: 15px;
    box-shadow: 0 15px 30px 0 rgba(165, 165, 165, 0.2), 0 15px 30px 0 rgba(150, 150, 150, 0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.img-card-contact{
    width: 70%;
}

.info-card-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 60px;
    width: 80%;
}
.contact-left{
    width: 80%;
    display: flex;
    justify-content: center;
}

.menu-icon{
    padding: 5px;
    color: #105798;
    font-size: 50px;
    display: none;
    justify-content: flex-start;
}


@media only screen and (max-width: 1690px) {
    .section-1{
        width: 100%;
        height: 1200px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        padding-left: 50%;
        color: black;
        background-image: url("./img/fondo5.png");
        background-size:100% 100%;
    }
  }


  @media only screen and (max-width: 1386px) {
    .section-1{
        width: 100%;
        height: 1200px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        padding-left: 30%;
        color: black;
        background-image: url("./img/fondo5.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -250px 100px;
    }

    .offer-img{
        border-radius: 5%;
        width: 300px;
        box-shadow: 0 15px 30px 0 rgba(102, 102, 102, 0), 0 15px 30px 0 rgba(68, 68, 68, 0.062);
    }
  }


  @media only screen and (max-width: 1150px) {
      .section-5{
          flex-direction: column;
          align-items: center;
      }
      .contact-left{
          height: 400px;
      }
      .box-calculate-1{
        width: 60% !important;
      }
      .box-calculate-2{
        width: 40% !important;
      }
  }
  @media only screen and (max-width: 1100px) {
    .section-1{
        width: 100%;
        height: 1200px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        padding-left: 20%;
        color: black;
        background-image: url("./img/fondo5.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -350px 100px;
    }
  }


  @media only screen and (max-width: 980px) {
    .section-1{
        width: 100%;
        height: 1200px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        padding-left: 10%;
        color: black;
        background-image: url("./img/fondo5.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -450px 100px;
    }
    .offer-img{
        border-radius: 5%;
        width: 250px;
    }
    .offer-img{
        border-radius: 5%;
        width: 250px;
        box-shadow: 0 15px 30px 0 rgba(102, 102, 102, 0), 0 15px 30px 0 rgba(68, 68, 68, 0.062);
    }
  }


  @media only screen and (max-width: 840px) {
    nav{
        display: none ;
    }
    .menu-icon{
        padding: 5px;
        color: #105798;
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .section-1{
        width: 100%;
        height: 1200px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        color: black;
        background-image: url("./img/fondo-phone.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -0px 0px;
        padding: 0;
    }
    .section-offer{
        flex-direction: column;
    }

    .container-grupo h1{
        font-size: 10px;
    }

    .offer-img{
        border-radius: 5%;
        width: 450px;
        box-shadow: 0 15px 30px 0 rgba(102, 102, 102, 0), 0 15px 30px 0 rgba(68, 68, 68, 0.062);
    }
    .card-section{
        flex-direction: column;
        align-items: center;
    }
    .section-2{
        height: auto;
    }
    .box{
        width: 60%;
        height: auto;
        margin-bottom: 40px;
    }
    
    
  }


  @media only screen and (max-width: 770px) {

    .group-team{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .box-calculate-1{
        width: 70% !important;
    }

    .box-calculate-2{
        width: 70% !important;
    }

    .section-calculate{
        flex-direction: column;
        align-items: center;
    }

  }
  @media only screen and (max-width: 710px) {
    nav{
        display: none ;
    }
    .menu-icon{
        padding: 5px;
        color: #105798;
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .section-1{
        width: 100%;
        height: 1200px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        color: black;
        background-image: url("./img/fondo-phone.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -0px 0px;
        padding: 0;
    }
    .font-title{
        font-size: 45px;
    }
    .font-subtitle{
        font-size:20px;
    }
    
    
  }


  @media only screen and (max-width: 530px) {
    
    .box-calculate-1{
        width: 90% !important;
        padding-bottom: 30px;
    }

    .box-calculate-2{
        width: 90% !important;
    }
    .currency-container{
        font-size: 10px;
    }
    .selected-inicial{
        font-size: 15px;
    }

    nav{
        display: none ;
    }

    .card-contact{
        flex-direction: column;
        align-items: center;
    }
    .img-reponsive-contact{
        width: 100%;
    }
    .menu-icon{
        padding: 5px;
        color: #105798;
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .section-1{
        width: 100%;
        height: 800px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        color: black;
        background-image: url("./img/fondo-phone.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -0px 0px;
        padding: 0;
    }
    .font-title{
        font-size: 35px;
    }
    .font-subtitle{
        font-size:15px;
    }
    .offer-img{
        border-radius: 5%;
        width: 400px;
        box-shadow: 0 15px 30px 0 rgba(102, 102, 102, 0), 0 15px 30px 0 rgba(68, 68, 68, 0.062);
    }
    
    
  }


  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    background-color:#26A0D5 ;
}

.footer img{
    width: 30px;
    margin: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}




  @media only screen and (max-width: 443px) {
    body{
        width: 100%;
    }
    html{
        width: 100%;
    }
    nav{
        display: none ;
    }
    .menu-icon{
        padding: 5px;
        color: #105798;
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .section-1{
        width: 100%;
        height: 800px;
        margin-top: -285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 8%;
        color: black;
        background-image: url("./img/fondo-phone.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: -0px 0px;
        padding-top: 200px !important;
        padding: 0;
    }
    .font-title{
        font-size: 25px;
    }
    .font-subtitle{
        font-size:20px;
    }
    .group-button{
        flex-direction: column;
    }
    .button-primary{
        width: 100%;
        margin-bottom: 20px;
        background-color: #105798;
        color: white;
    }
    .button-primary:hover{
        width: 100%;
        margin-bottom: 20px;
    }

    .offer-img{
        border-radius: 5%;
        width: 300px;
        box-shadow: 0 15px 30px 0 rgba(102, 102, 102, 0), 0 15px 30px 0 rgba(68, 68, 68, 0.062);
    }

    .box{
        width: 90%;
        height: auto;
        margin-bottom: 40px;
    }
    
    
  }




  .container-tems-new{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  .container-cartas{
    height: 370px;
    width: 280px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: #fff;
  }
 
  
  .shape{
    display: flex;
    background-color: #005798;
    height: 250px;
    width: 400px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000000c6;
    transform: rotate(25deg);
  }

  .grupo-1{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .grupo-2{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }


  .image-01{
    height: 150px;
    width: 150px;
    background-image: url(./img/erickson.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-25deg);
  }

  .image-02{
    height: 150px;
    width: 150px;
    background-image: url(./img/ramon.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-20deg);
  }

  .image-03{
    height: 150px;
    width: 150px;
    background-image: url(./img/nicaulis.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-25deg);
  }

  .image-04{
    height: 150px;
    width: 150px;
    background-image: url(./img/FRANCISCO-09.jpeg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-25deg);
  }
  
  .image-05{
    height: 150px;
    width: 150px;
    background-image: url(./img/francis.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-23deg);
  }

  .image-06{
    height: 150px;
    width: 150px;
    background-image: url(./img/crusiel.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-22deg);
  }

  .image-07{
    height: 150px;
    width: 150px;
    background-image: url(./img/yonaigris.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-25deg);
  }

  .image-08{
    height: 150px;
    width: 150px;
    background-image: url(./img/ASHEY.jpeg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-20deg);
  }

  .image-09{
    height: 150px;
    width: 150px;
    background-image: url(./img/erika.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-23deg);
  }

  .image-10{
    height: 150px;
    width: 150px;
    background-image: url(./img/JOSUE.jpeg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-20deg);
  }

  .image-11{
    height: 150px;
    width: 150px;
    background-image: url(./img/jordani.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-23deg);
  }

  .image-12{
    height: 150px;
    width: 150px;
    background-image: url(./img/nelson.jpg);
    position: absolute;
    top: 155px;
    margin-left: 130px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgba(12, 126, 197, 0.3);
    transform: rotate(-22deg);
  }




  
  .title{
    font-size: 15px;
    padding-bottom: 8px;
    color: #0093af;
  }
  
  .container-cartas h3{
    margin-bottom: 5px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #005798;
  }
  
  .container-cartas p{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    color: rgb(105, 100, 109);
    font-size: 15px;
  }

  
  .icons i{
    margin-left: 10px;
    font-size: 20px;
    transition: 500ms;
    color: rgb(40, 163, 194);
  }
  
  .icons i:hover{
   transform: scale(1.5);
   color: rgb(18, 192, 235);
   cursor: pointer;
  }
  

  /* \\\\\\\\\\\\\\\\\\\\ example//////////////////////////////////////////////////////////////////// */


  .heading {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2vmin 3vmin;
    color: #999;
  }
  
  .card-container__2 {
    display: flex;
    position: relative;
    width: 70%;
    height: 65vmin;
  }
  
  .card07 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.35);
    transition: transform 0.35s ease-out;
    transform: translate(var(--x), var(--y)) scale(0.35) rotate(var(--angle));
    transition: all 700ms ease;
    will-change: transform;
  }
  .card07:hover {
    transform: scale(1) rotate(0deg);
    z-index: 1;
  }
  
  .card07:before {
    content: "";
    display: block;
    width: 98%;
    height: 85%;
    margin: 1%;
    background: var(--image) center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.35);
    border-radius: 2px;
    filter: sepia(0.2) brightness(0.9) contrast(1.2);
    transition: opacity 0.35s ease-out;
    /* opacity: 0.5; */
    will-change: opacity;
    border-radius: 15px;
  }
  
  .card07:after {
    display: flex;
    justify-content: center;
    content: var(--caption);
    font-weight: 500;
    color: #26a0d5;
    font-size: 4vmin;
    font-weight: bold;
    /* opacity: 0.75; */
    text-align: center;
    margin-top: auto;
  }

  .container-grupo{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .container-grupo h1{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #005798;
  }


  .button-ofertas{
    background-color: #105798;
    border-radius: 5px;
    border: 1px solid  #26A0D5;
    margin-top: 10px;
    color:  white;
    width: 200px;
    height: 50px;
}

/* .button-ofertas:hover{
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid  #26A0D5;
    color:  white;
    width: 200px;
    height: 50px;
} */


