
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,118,149,1) 56%, rgba(69,193,252,1) 100%);
}

.container{
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}

form{
  display: flex;
  max-width: 60%;
  height:auto;
  background-color: #ffffffee;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: rgba(172, 172, 172, 0.529) 0px 7px 29px 0px;
  z-index: 2;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border:  solid 6px #fff;
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translatey(0) rotate(0);
    opacity: 1;
  }

  100%{
    transform: scale(1.3) translatey(-90px) rotate(360deg);
    opacity: 0;
  }

  
}

hr{
  width: 100%;
  margin: 20px 20px 20px 20px;
  opacity: 0.2;
}

.container__informacion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 10px;
}

.datos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
}

.informacion__En{
  display: flex;
  width: 100%;
  height: 250px;
  /* background-color: red; */
}

.informacion__tour{
  display: flex;
  width: 100%;
  height: 250px;
}

.conteiner-img-en{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  background-color: #fff;
}

.empresa{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: -8px;
}

.info{
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin-top: 10px;
  padding: 7px;
  border:  1px solid #5d5d5d56;
  flex-direction: column;
  border-radius: 5px;
}

.container-titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.container-titulo img{
  display: flex;
  width: 220px;
  height: 200px;
}

.container-titulo h1{
  font-family: 'Lexend Deca', sans-serif;
  color: #005798;
  font-weight: 400px;
}

.container-grupo-1{
  display: flex;
  width: 100%;
  height: auto;
  gap: 15px;
}

.baground{
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
}

.grupo-input{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.flex__wra_1{
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  margin-bottom: 20px;
}

.flex__wra_2{
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
}

.container__seguridad{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
}

.datos__pregunta{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.container__labe{
  margin-top: 10px;
}

.container-general{
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  margin-top: 20px;
}

textarea{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.datos h2{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #004479;
  margin-bottom: -13px;
  z-index: 2;

}

.conteiner-img-en img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 229px;
  border: 1px solid #6f6f6f43;
  border-radius: 5px;
}

.info p{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 3px;
  color:#6f6f6f
}

.grupo-input input{
  display: flex;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #6f6f6f6a;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.grupo-input input:focus{
  color:#004479;
  border: solid 2px #00457990;
}


.grupo-input label{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 4px;
  color:#6f6f6f
}


.grupo-input select{
  display: flex;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #6f6f6f6a ;
  outline: none;
}

.baground h2{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #004479;
  margin-bottom: 13px;
  margin-top: -10px;
  z-index: 2;
}

.datos__pregunta p{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}

.container__firma{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  /* background-color: #004479; */
  margin-bottom: 100px;
  margin-top: 80px;
}

.container__dato__firma{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container__dato__firma img{
  position: absolute;
  display: flex;
  width: 180px;
  height: 175px;
  margin-top: -45px;
} 

.container__dato__firma p{
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
  text-align: center;
} 

.container__dato__firma span{
  z-index: 2;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  font-weight: bold;
} 

.btn{
  display: flex;
  width: 300px;
  height: 55px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -20px;
  border-radius: 7px;
  border: none;
  background-color: #3ebaf2;
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  box-shadow: rgba(79, 79, 89, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

#hiden{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  display: none;
}

#hiden2{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  display: none;
}

/* #comentario1{
  border: solid 1px red;
} */

/* #comentario2{
  display: none;
}

#comentario3{
  display: none;
} */



@media (max-width: 1430px) {
  .container-grupo-1{
    flex-wrap: wrap;
  }

  form{
    max-width: 80%;
  }

  .container-titulo h1{
    font-size: 25px;
  }
  
}

@media (max-width: 860px) {
  .flex__wra_1{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .container__labe{
    align-items: flex-start;
    width: 100%;
    justify-content: center;
  }

  .container__labe label {
    font-size: 13px;
  }

  .flex__wra_2{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .container-general{
    flex-wrap: wrap;
  }

  .container-titulo h1{
    font-size: 18px;
    text-align: center;
  }

  .baground h2{
    font-size: 15px;
    margin-top: 5px;
  }

  .btn{
    width: 250px;
    height: 50px;
    font-size: 14px;
  }

  form{
    max-width: 90%;
  }

  .datos__pregunta p{
    font-size: 12px;
  }
  
  .datos__pregunta {
    justify-content: center;
    align-items: center;
  }
}

#container_envio{
  display: none;
}

#envio{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

#envio samp{
  font-size: 18px;
  color: #1cb202;
}

.fa-solid{
  font-size: 30px;
  color: #1cb202;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 50%;
}